@import '../../global.scss';
.topbar{
    height: 5rem;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 14px $Box-shadows;
    top:0px;
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 72px;
    width: calc(100% - 20px);
}
.right-top-hedeer img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-color: 1px solid black;
}
.right-top-hedeer a img{
    width: 24px;
    height: 22px;;
}
.right-top-hedeer a{
    margin-right: 34px;
}
.right-top-hedeer{
    display: flex;
    align-items: center;
    padding-left: 17px;
}
.profile img{
    margin-left: 23px;
    width: 38px;
    height: 38px;
}
.profile{
    border: 2px solid fuchsia;
    display: flex;
    width: 173px;
    height: 43px;
    border-radius: 23px;
    align-items: center;
}
.setting img{
    width: 73px;;
}
