@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* Counter styles */
.counter{
  font-family: 'Monoton', cursive;
  color: #034ea2;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  transform: scale(1);
}
.counter > div{
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  
}
.counter div > p{
  font-size: 22px;
  font-family: 'Monoton', cursive;
  background-color: rgba(247, 241, 241, 0.685);
}
.counter div > p > span{
  font-size: 2rem;
  font-family: 'Monoton', cursive;
}
.counter div > p {
  padding: 15px;
  border-radius: 25px;
  display: inline-block;
  box-shadow: 2px 0px 0 #ff5252, 3px -4px 0 #ff5252, 6px -4px 0 #ff5252;
  border: 2px solid #ff5252;
}
@media only screen and (max-width: 600px) {
  .counter div > p {
    padding: 10px;
    font-size: 12px;
  }
  .counter > div{
    padding: 10px;
  }
}
@media only screen and (max-width: 322px) {
  .counter div > p > span{
    font-size: 1.2rem;
  }
  
  .counter div > p{
    padding: 5px;
    font-size: 12px !important;
  }
  .logo{
    margin: 20px;
  }
  .counter > div{
    padding: 5px;
  }
}
@media only screen and (max-width: 375px) {
  .counter div > p {
    padding: 5px;
    font-size: 14px;
  }
  .counter > div{
    padding: 5px;
  }
}