@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.welcome{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/poornima-dashboord.appspot.com/o/background.png?alt=media&token=7c0e17f5-8519-412e-8cdd-b20954eed480");
  /* Full height & width */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Counter styles */
.counter{
  font-family: 'Monoton', cursive;
  color: #034ea2;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  transform: scale(1);
}

.counter > div{
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  
}
.counter div > p{
  font-size: 22px;
  font-family: 'Monoton', cursive;

}
.counter div > p > span{
  font-size: 4rem;
  font-family: 'Monoton', cursive;
}
.counter div > p {
  padding: 15px;
  border-radius: 25px;
  display: inline-block;
  box-shadow: 2px 0px 0 #ff5252, 3px -4px 0 #ff5252, 6px -4px 0 #ff5252;
  border: 2px solid #ff5252;
}