.teachers-contener{
	padding: 10px;
	width: 167px;
  height: 221px;
	margin: 5px;
  border-radius: 16px;
  background-color: #FFFFFF;
	box-shadow: 0px 4px 6px rgba(62, 73, 84, 0.04);
}
.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.teach{
	margin: auto;
}
.pages{
    margin: 0px;
    position: relative;
    margin-left: 4rem;
    scrollbar-width: 0.25rem;
    scrollbar-color: blueviolet;
    scrollbar-base-color: red;
}
.teachers-title{
    border-radius: 10px;
    height: 60px;
    border: 1px solid firebrick;   
}