$blue : #304FFD;
$lblue: #81E3F0;
$orange : #FF965D;
$red: #FD7972;
$green: #58D786;
$lgreen: #AEE553;
$yellow: #FFD240;
$purple: #B656EB;
$pink: #FD8BE4;
$white: #FFFFFF;
$lwhite: #FCFCFC;
$dark: #1D1E24;
$dark1: #23262B;
$dark2: #30323B;
$dark3: #33363D;
$grey: #93959C;
$grey1: #B5B7BF;
$grey2: #E8E9EB;
$bg: #F8F8F8;
*{
	margin: 0%;
	border: 0px;
	box-sizing: border-box;
}
@for $v from 1 to 70 {	
	.f-size-#{$v}{
		font-size: 1px * $v;
		$v: $v +1 ;
	}
}


@for $v from 1 to 70{
	.b-size-#{$v}{
		border: 1px * $v;
		$v: $v +1;
	}
}








