@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.welcome{
  text-align: center;
  height: 100vh;
}
h1 img{
  border-radius: 50%;
}
h1{
  font-size: 68px;
  font-family: 'Monoton', cursive;
  color: #ffffff;
}
button{
  width: 160px;
  height: 60px;
  box-shadow: pink;
  font-size: 28px;
}
.logo{
   text-align: center;
}
